<center>
	<h2><u>Todos List</u></h2>
	<div class="add-todo-row">
		<input type="text" id="todo-input" class="form-control" placeholder="What needs to be done?" autofocus>
	</div>
	<ul id="todo-list"></ul>
	<div class="row action-div">
		<div class="col-md-3"><span id="todo-done-counter"></span> item left</div>
		<div class="col-md-1"><a>All</a></div>
		<div class="col-md-2"><a>Active</a></div>
		<div class="col-md-2"><a>Completed</a></div>
		<div class="col-md-4"><a id="clear-completed-link">Clear completed</a></div>
	</div>
</center>