<center>
	<h2><u>Todos List</u></h2>
	<div class="add-todo-row">
		<input type="text" id="todo-input" class="form-control" placeholder="What needs to be done?" autofocus>
	</div>
	<ul id="todo-list"></ul>
	<div class="row action-div">
		<div class="col-md-3"><span id="todo-done-counter"></span> item left</div>
		<div class="col-md-1">All</div>
		<div class="col-md-2">Active</div>
		<div class="col-md-2">Completed</div>
		<div class="col-md-4">Clear completed</div>
	</div>
</center>