<center>
	<h2><u>Todos List</u></h2>
	<div class="add-todo-row">
		<input type="text" id="todo-input" class="form-control" placeholder="What needs to be done?" autofocus>
	</div>
	<ul id="todo-list"></ul>
</center>