<% if(todo.get('done')){ %>
	<div class="col-md-1"><input type="checkbox" id="todo-done" checked></div>
	<div class="col-md-10 todo-list-li-text" style="text-decoration: line-through; color: #d9d9d9;"><%= todo.get('name') %></div>
<% }else{ %>
	<div class="col-md-1"><input type="checkbox" id="todo-done"></div>
	<div class="col-md-10 todo-list-li-text"><%= todo.get('name') %></div>
<% } %>
<div class="col-md-1"><button type="button" class="todo-list-li-delete close" data-dismiss="modal">&times;</button></div>