// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-todo-row { width: 40%; margin-top: 30px; }
#create-todo { padding: 6px 36px !important; }
.todo-list-li { list-style: none; width: 40%; margin: 10px; font-size: 18px; cursor: default; text-align: left; }